<html>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
</head>
<body>

<!--Header-->
<header class="w3-container" style="background-color: black" id = viewDrivers>
    <h1 class="w3-large w3-cursive" style="font-family: courier new; color:white;">User Dashboard
        {% if userInfo.3 == 0 %}
            <form class="formA" method="GET" action="{% url 'admin' %}">
        {% endif %}
        {% if userInfo.3 == 1 %}
            <form class="formA" method="GET" action="{% url 'sponsor' %}">
        {% endif %}
        {% if userInfo.3 == 2 %}
            <form class="formA" method="GET" action="{% url 'user' %}">
        {% endif %}
        <button class="w3-bar-item w3-button w3-left fa fa-home"
                style="position:relative;top:-3px;left:155px;"></button>
        </form>


        <div class="w3-dropdown-hover w3-right" style="background-color:black">
            <button class="w3-button fa fa-user w3-xlarge"
                    style="color:white;background-color:black;top: -5px;position:relative"> {{ username }}</button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <form class="formA" style="top:28px;" method="GET" action="{% url 'accountInfo' %}">
                    <button href="#" class="w3-bar-item w3-button"
                            style="position:relative;color:white;background-color:black;">Account
                    </button>
                </form>
                <form class="formA" style="top:54px;" method="orders" style="background-color:black"
                      action="{% url 'orders' %}">
                    <button type="submit" class="w3-bar-item w3-button"
                            style="position:relative;color:white;background-color:black;margin-bottom:-18px">Orders
                    </button>
                </form>
                {% if userInfo.3 == 2 %}
                <form class="formA" style="top:82px;" method="history" style="background-color:black"
                    action="{% url 'history' %}">
                    <button type="submit" class="w3-bar-item w3-button"
                      style="position:relative;color:white;background-color:black;margin-bottom:28px">History
                    </button>
                </form>
                {%endif%}
                <form class="formA" style="top:82px;" method="logout" style="background-color:black"
                      action="{% url 'user_login' %}">
                    <button type="submit" class="w3-bar-item w3-button" id="test-logout"
                            style="position:relative;color:white;background-color:black;margin-bottom:-18px">Log Out
                    </button>
                </form>
            </div>
        </div>



        {% if userInfo.3 == 0 %}
            <div class="w3-dropdown-hover w3-right" style="background-color:black">
                <button class="w3-button w3-bar-item"
                        style="color:white;background-color:black;top: -5px;position:relative">Change View
                </button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <form class="formA" style="top:28px;" method="GET" action="{% url 'sponsor' %}">
                        <button href="#" class="w3-bar-item w3-button"
                                style="position:relative;color:white;background-color:black;">Sponsor
                        </button>
                    </form>
                    <form class="formA" style="top:54px;" method="GET" action="{% url 'user' %}">
                        <button type="submit" class="w3-bar-item w3-button"
                                style="position:relative;color:white;background-color:black;margin-bottom:-18px">Driver
                        </button>
                    </form>
                </div>
            </div>
            <!--closed this form-->
            <form class="formA" method="GET" action="{% url 'catalog' %}">
                <button class="w3-right w3-bar-item w3-button"
                        style="color:white;background-color:black;top: -5px;position:relative">Catalog
                </button>
            </form>
            <button class="w3-right w3-bar-item w3-button"
                    style="color:white;background-color:black;top: -5px;position:relative">Drivers
            </button>
            <button class="w3-right w3-bar-item w3-button"
                    style="color:white;background-color:black;top: -5px;position:relative">Sponsors
            </button>
        {% endif %}



        {% if userInfo.3 == 1 %}
            <div class="w3-dropdown-hover w3-right" style="background-color:black">
                <button class="w3-button w3-bar-item"
                        style="color:white;background-color:black;top: -5px;position:relative">Change View
                </button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <form class="formA" style="top:28px;" method="GET" action="{% url 'sponsor' %}">
                        <button href="#" class="w3-bar-item w3-button"
                                style="position:relative;color:white;background-color:black;">Sponsor
                        </button>
                    </form>
                    <form class="formA" style="top:54px;" method="GET" action="{% url 'user' %}">
                        <button type="submit" class="w3-bar-item w3-button"
                                style="position:relative;color:white;background-color:black;margin-bottom:-18px">Driver
                        </button>
                    </form>
                </div>
            </div>
            <form class="formA" method="GET" action="{% url 'catalog' %}">
                <button class="w3-right w3-bar-item w3-button"
                        style="color:white;background-color:black;top: -5px;position:relative">Catalog
                </button>
            </form>
            <form class="formA" method="get" action="{% url 'viewApplications' %}">
                <button class="w3-right w3-bar-item w3-button"
                        style="color:white;background-color:black;top: -5px;position:relative">Drivers
                </button>
            </form>
        {% endif %}



        {% if userInfo.3 == 2 %}
            <!--closed this form-->
            <form class="formA" method="GET" action="{% url 'catalog' %}">
                <button class="w3-right w3-bar-item w3-button"
                        style="color:white;background-color:black;top: -5px;position:relative">Catalog
                </button>
            </form>
            <form class="formA" method="get" action="{% url 'selectSponsor' %}">
                <button class="w3-right w3-bar-item w3-button"
                        style="color:white;background-color:black;top: -5px;position:relative">Sponsor
                </button>
            </form>
        {% endif %}
    </h1>
</header>


<body>
<div class="w3-center" style="color:white">
    <p>
    <h3> All other users in the system listed below. </h3></p>

    <!--Table of drivers, with same tools for changing them as in the organizations window, but not limited to specific org-->
    <table name="userTab">
        <tr>
            <th scope="col">User</th>
            <th scope="col">Remove Account</th>
            <th scope="col">New Email</th>
            <th scope="col">New Password</th>
            <th scope="col">Add To Organization</th>
            <th scope="col">Download Report</th>
        </tr>
        {% for entry in allUsers %}
            <tr>
                <!--Search user table to pull email rather than use user id here-->
                {% for name in allUsers %}
                    <!--print the info-->
                    {% if name.user_id == entry.user_id and name.user_id != userInfo.0 %}
                        <td>{{ name.email }}
                            <br>
                            Password:
                            {{ name.password }}
                            <br>
                            User Type:
                            {% if name.user_type == 0 %}
                                Admin
                            {% elif name.user_type == 1 %}
                                Sponsor
                            {% else %}
                                Driver
                            {% endif %}
                        </td>
                        <!--Remove driver from system-->
                        <td>
                            <button><a href="{% url 'removeAccount' %}?pid={{ entry.user_id }}">Remove User</a></button>
                        </td>
                        <!--if an admin, add buttons for changing a users email and password-->
                        <td>
                            <div class="w3-row">
                                <form method="POST" action="{% url 'updateEmail2' %}">
                                    {% csrf_token %}
                                    <input type="text" name="newem" placeholder="New Email"/>
                                    <br>
                                    <input type="text" name="score" value="{{ name.user_id }}"
                                           style="visibility: hidden" ;/>
                                    <br>
                                    <button name="e1" type="submit" value="e1">Update</button>
                                </form>
                            </div>
                        </td>
                        <td>
                            <div class="w3-row">
                                <form method="POST" action="{% url 'updatePassword2' %}">
                                    {% csrf_token %}
                                    <input type="text" name="newpa" placeholder="New Password"/>
                                    <br>
                                    <input type="text" name="score" value="{{ name.user_id }}"
                                           style="visibility: hidden" ;/>
                                    <br>
                                    <button name="p1" type="submit" value="p1">Update</button>
                                </form>
                            </div>
                        </td>
                        <!--Drop down box to selet the users' organization-->
                        {% if name.user_type == 0 %}
                            <td>
                                N/A
                            </td>
                            <td>
                                N/A
                            </td>
                        {% else %}
                            <td>
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="text" name="the_user" value="{{ entry.user_id }}"
                                           style="visibility: hidden">
                                    <div class="row w3-center">
                                        <select name="spons_id">
                                            {% for entry in sponsors %}
                                                <option value={{ entry.org_id }}>{{ entry.org_name }}</option>
                                                <!--<input type="text" name = "userName" value="{{name.user_id}}" style="visibility: hidden";/>-->
                                            {% endfor %}
                                        </select>
                                        <br>
                                        <input type="submit" value="Accept">
                                    </div>
                                </form>
                            </td>
                            {% if name.user_type == 1 %}
                                <td>
                                    N/A
                                </td>
                            {% else %}
                                <td>
                                    <button><a href="{% url 'driverReportAll' %}?pid={{ entry.user_id }}">Sales Report</a></button>
                                </td>
                            {% endif %}
                        {% endif %}

                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>


</body>
<br>
<br>
<br>
<button>
    <a href="{% url 'admin' %}">
        <i>Return to Admin Dashboard</i><br>
    </a>
</button>

<style>
    body {
        background-color: #010044;
        color: white;
    }

    w3-button {
        background-color: black;
        color: white;
    }

    .action {
        border-style: solid;
        border-width: 2px;
        border-color: white;
        float: left;
        width: 20%;
        position: relative;
        text-align: center;
        background-color: #0f99ac;
        font-weight: bold;
        color: rgb(0, 0, 0);
        left: 40%;
        top: 5px;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .action:hover {
        cursor: cursor;
    }

    .formA {
        position: relative;
        margin-bottom: -18px;
        margin-top: -28px;
    }

    td,
    th {
        border: 1px solid rgb(190, 190, 190);
        color: white;
        padding: 10px;
    }

</style>

</html>